In [1]:
import numpy as np
import pandas as pd

In [2]:
adult_data =pd.read_csv(r"C:\Users\sunny\Downloads\adult.csv")
adult_data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [5]:


# Count the number of people of each race
race_counts = adult_data['race'].value_counts()

# Display the result
print(race_counts)

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

What is the average age of men?

In [6]:
#here the average means mean of mean so
# Filter the data to include only males
male_df = adult_data[adult_data['gender'] == 'Male']

# Calculate the average age of men
average_age_men = male_df['age'].mean()

print("The average age of men is:", average_age_men)

The average age of men is: 39.49439509954058

What is the percentage of people who have a Bachelor's degree?

In [8]:

# Count the total number of people
total_people = len(adult_data)

# Count the number of people with a Bachelor's degree
bachelors_count = len(adult_data[adult_data['education'] == 'Bachelors'])

# Calculate the percentage
percentage_bachelors = (bachelors_count / total_people) * 100

print("The percentage of people who have a Bachelor's degree is:", percentage_bachelors)

The percentage of people who have a Bachelor's degree is: 16.430531100282543

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:

# Filter the data for people with advanced education
advanced_education = adult_data[adult_data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Count the total number of people with advanced education
total_advanced_education = len(advanced_education)

# Count the number of people with advanced education making more than 50K
advanced_education_50k = len(advanced_education[advanced_education['income'] == '>50K'])

# Calculate the percentage
percentage_advanced_education_50k = (advanced_education_50k / total_advanced_education) * 100

print("The percentage of people with advanced education making more than 50K is:", percentage_advanced_education_50k)

The percentage of people with advanced education making more than 50K is: 46.14224902447677

What percentage of people without advanced education make more than 50K?

In [12]:

# Filter the data for people without advanced education
non_advanced_education = adult_data[~adult_data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Count the total number of people without advanced education
total_non_advanced_education = len(non_advanced_education)

# Count the number of people without advanced education making more than 50K
non_advanced_education_50k = len(non_advanced_education[non_advanced_education['income'] == '>50K'])

# Calculate the percentage
percentage_non_advanced_education_50k = (non_advanced_education_50k / total_non_advanced_education) * 100

print("The percentage of people without advanced education making more than 50K is:", percentage_non_advanced_education_50k)

The percentage of people without advanced education making more than 50K is: 17.260288558803172

What is the minimum number of hours a person works per week?

In [8]:

# Finding the minimum number of hours a person works per week
min_hours_per_week =adult_data['hours-per-week'].min()

print("The minimum number of hours a person works per week is:", min_hours_per_week)

The minimum number of hours a person works per week is: 1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [10]:

# Find the minimum number of hours a person works per week
min_hours_per_week = adult_data['hours-per-week'].min()

# Filter the data for people who work the minimum number of hours per week
min_hours_workers = adult_data[adult_data['hours-per-week'] == min_hours_per_week]

# Count the total number of people working minimum hours
total_min_hours_workers = len(min_hours_workers)

# Count the number of people working minimum hours making more than 50K
min_hours_workers_50k = len(min_hours_workers[min_hours_workers['income'] == '>50K'])

# Calculate the percentage
percentage_min_hours_workers_50k = (min_hours_workers_50k / total_min_hours_workers) * 100

print("The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is:", percentage_min_hours_workers_50k)

The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is: 11.11111111111111

What country has the highest percentage of people that earn >50K and what is that percentage?

In [11]:

# Group the data by native-country and calculate the percentage of people earning >50K
country_salary = adult_data[adult_data['income'] == '>50K'].groupby('native-country').size()
country_total = adult_data.groupby('native-country').size()
country_percentage = (country_salary / country_total) * 100

# Find the country with the highest percentage
highest_percentage_country = country_percentage.idxmax()
highest_percentage = country_percentage.max()

print("The country with the highest percentage of people earning >50K is:", highest_percentage_country)
print("The percentage is:", highest_percentage)

The country with the highest percentage of people earning >50K is: France
The percentage is: 42.10526315789473

Identify the most popular occupation for those who earn >50K in India.

In [12]:

# Filter the data for people in India earning more than 50K
india_high_earners = adult_data[(adult_data['native-country'] == 'India') & (adult_data['income'] == '>50K')]

# Count the occupations
occupation_counts = india_high_earners['occupation'].value_counts()

# Identify the most popular occupation
most_popular_occupation = occupation_counts.idxmax()

print("The most popular occupation for those who earn >50K in India is:", most_popular_occupation)

The most popular occupation for those who earn >50K in India is: Prof-specialty